/* Sección de cabecera */
.cabecera__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding-top: 30px;
    position: fixed;
    padding-left: 500px;
    
    
    
}

/* Sección de presentación */
.presentacion{
    display: flex;
    flex-direction: column; 
    gap: 20px;
    margin-bottom: 30px;
    padding-top: 200px;
    
    
}

.botones__presentacion{
    display: flex;
    gap: 20px;
}

/* Sección experiencia laboral */
.experiencia{
    display: flex;
    gap: 30px;
    align-items: center;
    
}
.experiencia h3{
    white-space: nowrap;
}

/* Sección de proyectos */
.proyecto{
    display: flex;
    gap: 30px;
    align-items: center;
} 

.proyecto__reverso{
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    align-items: center;
}
.proyecto__reverso img{
    height: 303px;
    width: 380px;
    margin-bottom: 30px;
    border-radius: 20px;
}
/* Sección sobre mi */
.sobre__mi{
    display: flex;
    margin-top: 20px;
    align-items: center;

}

.sobre__mi__texto{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    
    
}


.contacto{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

@media (max-width: 768px){
    .cabecera__container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        padding-top: 30px;
        padding-left: 0px;
        position: fixed;
    }
    .presentacion{
        width: 500px;
    }
    .experiencia{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 500px;
    }
    .seccion__proyectos{
        padding-right: 0;
    }
    .proyecto{
        display: flex;
        flex-direction: column;
    
    }

    .proyecto__reverso{
        display: flex;
        flex-direction: column;
    }
    .sobre__mi{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }
}




